.size-16 {
    height: 16rem;
    object-fit: cover;
}

.size-100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-underline {
    text-decoration: underline;
}

.far {
    color: #17a2b8;
}

.blue__color {
    color: #17a2b8;
}
